precios/precios.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
 <xs:element name="Precios">
  <xs:complexType>
    <xs:sequence> 
      <xs:element name="precio" maxOcurrs="unbonded" type="preciosType"></xs:element>
    </xs:sequence>
  </xs:complexType>
 </xs:element>
<xs:simpleType name="preciosType">
 <xs:restriction base="xs:decimal">
  <xs:totalDigits value="3"/>
  <xs:fractionDigits value="2"/>
 </xs:restriction>
</xs:simpleType>
</xs:schema>