sitemap/sitemap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
<xs:element name="urlset">
  <xs:complexType> 
      <xs:sequence>
         <xs:element name="url">
           <xs:complexType> 
             <xs:sequence>
                <xs:element name="loc"></xs:element> 
                <xs:element name="lastmod"></xs:element> 
                <xs:element name="priority"></xs:element> 
             </xs:sequence>
           </xs:complexType>
        </xs:element>
      </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
